<p id="notice"><%= notice %></p>

<p>
  <strong>Orgnizer:</strong>
  <%= @activity.orgnizer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Open date:</strong>
  <%= @activity.open_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
